development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: parser_development
  pool: 5
  username: parser_mysql_user
  password: supersecretpassword

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: parser_test
  pool: 5
  username: parser_mysql_user
  password: supersecretpassword

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: tmvawanr_parser_production
  pool: 5
  username: tmvawanr_parser_mysql_user
  password: supersecretpassword
