
<div>
  <div class="col-sm">
    <%= link_to 'Edit', edit_proxy_server_path(@proxy_server) %>
  </div>
  <div class="col-sm">
    <%= link_to 'All', proxy_servers_path, style: 'color: #0d6efd;' %>
  </div>
</div>
<div class="container part_show_container">
  <div class="row part_row">
    <div id= "part_info" class="col-sm">
        <p>IP Address: <%= @proxy_server.server %></p>
        <p>Port: <%= @proxy_server.port %></p>
    </div>

  </div>
</div>